@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}

button {
  border-radius: 5px;
  background-color: #337ef6;
  color: white;
  border: none;
  padding: 8px 20px;
  cursor: pointer;
  transition: background-color .25s;
}

button:hover {
  background-color: #235bb3;
}

button:active {
  background-color: #1a3a6f;
}

button:disabled {
  background-color: #ccc;
  cursor: default;
}

textarea,
select {
  border-radius: 5px;
  border-color: #ccc;
  outline: none !important;
  transition: border-color .25s, box-shadow .25s;
}

textarea:focus,
select:focus {
  border-color: #337ef6;
  box-shadow: 0 0 0 2px #337ef6;
}

textarea {
  line-height: 22px;
}

option {
  padding: 2px 0;
}

option:checked, option:hover  {
  background-color: #337ef6;
  color: white;
}
